p {
    background-color: white;
    color: black;
    }
.withstyle {
    background-color: olive;
    color: navy;
    }
.warn {
    background-color: yellow;
    color: red;
    }
.border {
    border: 3px solid black;
}
#mainpoint
{
    background-color: yellow;
    color: red;
    font-weight: bold;
}
