p {
    background-color: white;
    color: black;
    }
.withstyle {
    background-color: olive;
    color: navy;
    }
.warn {
    background-color: yellow;
    color: red;
    }
.border {
    border: 3px solid black;
}
#mainpoint
{
    background-color: yellow;
    color: red;
    font-weight: bold;
}
#maincontent
{
    border-style: solid;
    border-width: 2px;
}
#footer
{
    border-style: dashed;
    border-width: 2px;
    border-color: red;
}
